.base-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar-menu main";
  grid-template-columns: 361px 1fr;
  grid-template-rows: 80px 1fr;
}

.main {
  grid-area: main;
}
