@use "@/styles/variables.module.scss" as *;
.base-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar-menu main";
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: $header-height 1fr;
}

.main {
  grid-area: main;
  min-width: 0;
}
