@use "@/styles/mixins.module.scss" as *;
@use "@/styles/variables.module.scss" as *;

.footer {
  @include auth-form-footer-layout;
}

.linker {
  @include auth-form-link-style;
}

.forgotPassword {
  font-size: $font-size-xs;
  color: $color-text;

  &:hover {
    text-decoration: underline;
  }
}

.success {
  margin: 0 $spacing-xl $spacing-sm;
  font-size: $font-size-xs;
  line-height: 1.5;
  color: var(--color-text);
  text-align: center;
}
