@use "../../styles/variables.module.scss" as *;

.formWrapper {
  width: 95%;
  max-width: 637px;
  background: $color-background;
  border-radius: $radius-large;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: $spacing-xxl;
}

.title {
  margin-bottom: $spacing-xxl;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-xxl $spacing-xl;
}

.footer {
  margin-top: $spacing-sm;
  display: flex;
  justify-content: center;
  gap: $spacing-xs;
  font-size: $font-size-xs;
}

.linker {
  color: $color-primary;
  padding: 0;
  font-size: $font-size-xs;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
