@use "@/styles/variables.module.scss" as *;

$sidebar-padding-top: 32px;

@mixin sidebar-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: $color-text;
  font-size: $font-size-md;
  padding: 13px 0px 11px 14px;
  line-height: 100%;
}

.sidebar-menu {
  grid-area: sidebar-menu;
  padding-top: $sidebar-padding-top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  background-color: var(--color-sidebar-bg);
  border-top-left-radius: $radius-large;
  border-top-right-radius: $radius-large;

  &__navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
    padding-right: 4px;
    &-item {
      width: 333px;

      a {
        @include sidebar-item;
      }

      button {
        @include sidebar-item;
      }

      img {
        height: 28px;
        width: 28px;
        filter: var(--color-icon-filter);
      }

      &--active {
        background-color: var(--color-sidebar-active);
        border-bottom-right-radius: $radius-large;
        border-top-right-radius: $radius-large;
        box-shadow: var(--shadow-nav-active);
      }
    }
  }

  &__footer {
    padding: 11px 0px;
    border-top: 1px solid var(--color-sidebar-footer-border);
  }
}
