@use "../../styles/variables.module.scss" as *;

.field__inner {
  position: relative;
}

.label {
  font-size: $font-size-xs;
  color: $color-text;
}

.input {
  width: 100%;
  padding: $spacing-sm $spacing-sm;
  font-size: $font-size-sm;
  border-radius: $radius-small;
  border: 1px solid $color-border;
  outline: none;
  &:focus {
    border-color: $color-primary;
  }
}

.error {
  color: $color-error;
  font-size: $font-size-xxs;
  min-height: 12px;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.button__eyes {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: $spacing-sm;
}
