.filePickerStyles-module__file-picker-iframe__WyMb_ {
  width: 75%;
  height: 75%;
  position: fixed;
  top: 50%;
  box-sizing: border-box;
  outline: 1px solid transparent;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  border: none;
}
[dir="ltr"] .filePickerStyles-module__file-picker-iframe__WyMb_ {
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
[dir="rtl"] .filePickerStyles-module__file-picker-iframe__WyMb_ {
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}
.defaultStyles-module__page-overlay__background__MbTPR {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.1;
  z-index: 3;
  background-color: #252423;
}
[dir="ltr"] .defaultStyles-module__page-overlay__background__MbTPR {
  left: 0;
}
[dir="rtl"] .defaultStyles-module__page-overlay__background__MbTPR {
  right: 0;
}
.DocumentIconControl-module__icon-tile__wrapper__P7Fn3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  padding: 6px;
  border-radius: 8px;
  background-color: var(--colorNeutralBackground1Hover);
}
.DocumentIconControl-module__meeting-object-icon__wrapper__FfKWq {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: #6264a7;
}
.DocumentIconControl-module__meeting-object-icon__LgOYp {
  position: absolute;
  display: block;
  color: #fff;
  line-height: 25px;
  max-height: 14px;
  margin-top: 5px;
}
[dir="ltr"] .DocumentIconControl-module__meeting-object-icon__LgOYp {
  margin-left: 6px;
}
[dir="rtl"] .DocumentIconControl-module__meeting-object-icon__LgOYp {
  margin-right: 6px;
}
.DocumentIconControl-module__meeting-object-icon__LgOYp.DocumentIconControl-module__meeting-object-icon--no-background__NyHMZ {
  position: relative;
  color: var(--colorNeutralForeground1, #242424);
  max-height: 21px;
  margin: 0;
}
.DocumentIconControl-module__document-list-item__icon--display__S0kf7 {
  display: block;
}
.DocumentIconControl-module__custom-icon--16x16__GIgO0 {
  width: 16px;
  height: 16px;
}
.DocumentIconControl-module__custom-icon--20x20__heM8V {
  width: 20px;
  height: 20px;
}
.DocumentIconControl-module__custom-icon--24x24__pn4H3 {
  width: 24px;
  height: 24px;
}
.DocumentIconControl-module__custom-icon--32x32__f7fVd {
  width: 32px;
  height: 32px;
}
.DocumentIconControl-module__custom-icon--64x64__Acg2o {
  width: 64px;
  height: 64px;
}
.DocumentIconControl-module__custom-icon__ymWKR {
  vertical-align: inherit;
}
