@use "./variables.module.scss" as *;

@mixin auth-form-footer-layout {
  margin-top: $spacing-sm;
  display: flex;
  justify-content: center;
  gap: $spacing-xs;
  font-size: $font-size-xs;
}

@mixin auth-form-link-style {
  font-size: $font-size-xs;
  cursor: pointer;
  color: $color-primary;
  padding: 0;
  font-size: $font-size-xs;
  text-decoration: none;
  font-weight: $font-weight-medium;
  &:hover {
    text-decoration: underline;
  }
}

@mixin create-button {
  padding: 8px 16px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
