.registrationPage {
  min-height: 100vh;
  background-image: url("../../assets/psu-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
