@import "../styles/reset.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "PT Sans", "Segoe UI", system-ui, sans-serif;
  font-size: 15px;
  line-height: 1.45;
}

button,
a {
  cursor: pointer;
}

button {
  font-family: inherit;
}
